doctype html
| PASTE YOUR HTML CODE HERE
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Register
  link(rel='stylesheet' type='text/css' href='css/register_baby.css')
form#SignupForm(method='POST' action='/registerbaby')
  h2 Signup
  label(for='username') Username:
  input#username(type='text' name='username')
  label(for='password') Password:
  input#password(type='password' name='password')
  button(type='submit') Signup
script(src="js/script.js") 